AIA extension missing from RSC EE cert

I generated a `rsc` file following the docker steps. It appears the _Authority Information Access_ extension is missing from the resulting rsc file.

RFC 6487 Section 4.8.7 describes the field.

```
    0:d=0  hl=4 l=1385 cons: SEQUENCE          
    4:d=1  hl=2 l=   9 prim:  OBJECT            :pkcs7-signedData
   15:d=1  hl=4 l=1370 cons:  cont [ 0 ]        
   19:d=2  hl=4 l=1366 cons:   SEQUENCE          
   23:d=3  hl=2 l=   1 prim:    INTEGER           :03
   26:d=3  hl=2 l=  13 cons:    SET               
   28:d=4  hl=2 l=  11 cons:     SEQUENCE          
   30:d=5  hl=2 l=   9 prim:      OBJECT            :sha256
   41:d=3  hl=2 l= 104 cons:    SEQUENCE          
   43:d=4  hl=2 l=  11 prim:     OBJECT            :id-ct-signedChecklist
   56:d=4  hl=2 l=  89 cons:     cont [ 0 ]        
   58:d=5  hl=2 l=  87 prim:      OCTET STRING      [HEX DUMP]:3055A0030201003012A110300E300C040200013006030400010000300B0609608648016503040201302D302B1607636F6E74656E740420622CB3371C1A08096EAAC564FB59ACCCDA1FCDBE13A9DD10B486E6463C8C2525
  147:d=3  hl=4 l= 808 cons:    cont [ 0 ]        
  151:d=4  hl=4 l= 804 cons:     SEQUENCE          
  155:d=5  hl=4 l= 524 cons:      SEQUENCE          
  159:d=6  hl=2 l=   3 cons:       cont [ 0 ]        
  161:d=7  hl=2 l=   1 prim:        INTEGER           :02
  164:d=6  hl=2 l=   1 prim:       INTEGER           :02
  167:d=6  hl=2 l=  13 cons:       SEQUENCE          
  169:d=7  hl=2 l=   9 prim:        OBJECT            :sha256WithRSAEncryption
  180:d=7  hl=2 l=   0 prim:        NULL              
  182:d=6  hl=2 l=  13 cons:       SEQUENCE          
  184:d=7  hl=2 l=  11 cons:        SET               
  186:d=8  hl=2 l=   9 cons:         SEQUENCE          
  188:d=9  hl=2 l=   3 prim:          OBJECT            :commonName
  193:d=9  hl=2 l=   2 prim:          UTF8STRING        :ca
  197:d=6  hl=2 l=  30 cons:       SEQUENCE          
  199:d=7  hl=2 l=  13 prim:        UTCTIME           :210525202905Z
  214:d=7  hl=2 l=  13 prim:        UTCTIME           :220525202905Z
  229:d=6  hl=2 l=  13 cons:       SEQUENCE          
  231:d=7  hl=2 l=  11 cons:        SET               
  233:d=8  hl=2 l=   9 cons:         SEQUENCE          
  235:d=9  hl=2 l=   3 prim:          OBJECT            :commonName
  240:d=9  hl=2 l=   2 prim:          UTF8STRING        :EE
  244:d=6  hl=4 l= 290 cons:       SEQUENCE          
  248:d=7  hl=2 l=  13 cons:        SEQUENCE          
  250:d=8  hl=2 l=   9 prim:         OBJECT            :rsaEncryption
  261:d=8  hl=2 l=   0 prim:         NULL              
  263:d=7  hl=4 l= 271 prim:        BIT STRING        
  538:d=6  hl=3 l= 142 cons:       cont [ 3 ]        
  541:d=7  hl=3 l= 139 cons:        SEQUENCE          
  544:d=8  hl=2 l=  14 cons:         SEQUENCE          
  546:d=9  hl=2 l=   3 prim:          OBJECT            :X509v3 Key Usage
  551:d=9  hl=2 l=   1 prim:          BOOLEAN           :255
  554:d=9  hl=2 l=   4 prim:          OCTET STRING      [HEX DUMP]:03020780
  560:d=8  hl=2 l=  29 cons:         SEQUENCE          
  562:d=9  hl=2 l=   3 prim:          OBJECT            :X509v3 Subject Key Identifier
  567:d=9  hl=2 l=  22 prim:          OCTET STRING      [HEX DUMP]:04141477EFB291D939D0603B8A4BCE79840CFA511762
  591:d=8  hl=2 l=  31 cons:         SEQUENCE          
  593:d=9  hl=2 l=   3 prim:          OBJECT            :X509v3 Authority Key Identifier
  598:d=9  hl=2 l=  24 prim:          OCTET STRING      [HEX DUMP]:301680143BA90AEDCBB5EBAD5011297F690A96D4C5386EEC
  624:d=8  hl=2 l=  24 cons:         SEQUENCE          
  626:d=9  hl=2 l=   3 prim:          OBJECT            :X509v3 Certificate Policies
  631:d=9  hl=2 l=   1 prim:          BOOLEAN           :255
  634:d=9  hl=2 l=  14 prim:          OCTET STRING      [HEX DUMP]:300C300A06082B06010505070E02
  650:d=8  hl=2 l=  31 cons:         SEQUENCE          
  652:d=9  hl=2 l=   8 prim:          OBJECT            :sbgp-ipAddrBlock
  662:d=9  hl=2 l=   1 prim:          BOOLEAN           :255
  665:d=9  hl=2 l=  16 prim:          OCTET STRING      [HEX DUMP]:300E300C040200013006030400010000
  683:d=5  hl=2 l=  13 cons:      SEQUENCE          
  685:d=6  hl=2 l=   9 prim:       OBJECT            :sha256WithRSAEncryption
  696:d=6  hl=2 l=   0 prim:       NULL              
  698:d=5  hl=4 l= 257 prim:      BIT STRING        
  959:d=3  hl=4 l= 426 cons:    SET               
  963:d=4  hl=4 l= 422 cons:     SEQUENCE          
  967:d=5  hl=2 l=   1 prim:      INTEGER           :03
  970:d=5  hl=2 l=  20 prim:      cont [ 0 ]        
  992:d=5  hl=2 l=  11 cons:      SEQUENCE          
  994:d=6  hl=2 l=   9 prim:       OBJECT            :sha256
 1005:d=5  hl=2 l= 107 cons:      cont [ 0 ]        
 1007:d=6  hl=2 l=  26 cons:       SEQUENCE          
 1009:d=7  hl=2 l=   9 prim:        OBJECT            :contentType
 1020:d=7  hl=2 l=  13 cons:        SET               
 1022:d=8  hl=2 l=  11 prim:         OBJECT            :id-ct-signedChecklist
 1035:d=6  hl=2 l=  28 cons:       SEQUENCE          
 1037:d=7  hl=2 l=   9 prim:        OBJECT            :signingTime
 1048:d=7  hl=2 l=  15 cons:        SET               
 1050:d=8  hl=2 l=  13 prim:         UTCTIME           :210525202917Z
 1065:d=6  hl=2 l=  47 cons:       SEQUENCE          
 1067:d=7  hl=2 l=   9 prim:        OBJECT            :messageDigest
 1078:d=7  hl=2 l=  34 cons:        SET               
 1080:d=8  hl=2 l=  32 prim:         OCTET STRING      [HEX DUMP]:649D4AECA24669F5C5B0340256534D12737539AC24E020D4DF32741ACA1650F9
 1114:d=5  hl=2 l=  13 cons:      SEQUENCE          
 1116:d=6  hl=2 l=   9 prim:       OBJECT            :rsaEncryption
 1127:d=6  hl=2 l=   0 prim:       NULL              
 1129:d=5  hl=4 l= 256 prim:      OCTET STRING      [HEX DUMP]:795D6BD7A3C169C14838A4B50B796C88522BE28A1A6CDD1485437497E193A84199DC99F3C10EBE06DFE04F6874619B2E3DB189DEA9ED9FC77FA92A18DB82EED1C7B92E00C069B12AEF11FC8E07C421DC7E4CB88291D538A371BA7D15CA96B7EB2A7CC6CB5D8F9CEFB9A9A7413D3400C3C2DAA6D2DAC3373FF75C415445A1AD13868AF83798B8C1A7E5413F697AA6939F4F461533B47E87552E97CEC92685D8EBB40667BEE69B66C4C790676FE86D86042E4D994088DF8545BCB01FD6535858478A362A1D39BEFD5EA2A1EB573E8E3B95CA59880B0315EA6C64D15E59094A579256DF39E625BAE84A6DF1BFC8DFCE85EA2B05257E2566AAA49DCC1CDE92C1F827
```

Thanks, this should be sorted out now.

Thanks, it is fixed!

```
            X509v3 Authority Key Identifier:
                keyid:84:29:2C:6A:87:8F:85:47:DC:68:71:3D:C3:2A:9A:ED:11:F2:25:CC
            Authority Information Access:
                CA Issuers - URI:rsync://localhost/repo/cas/ca/ca/ca.der.cer
```