IPAddressRange issue with demo generated .sig?

```
test-rsc: /usr/src/regress/usr.sbin/rpki-client/libressl/../rsc/apnic-demo.sig: length 8
test-rsc: /usr/src/regress/usr.sbin/rpki-client/libressl/../rsc/apnic-demo.sig: RFC 3779 section 2.2.3.9: IPAddressRange: want 2 elements, have 1
test-rsc: test failed for /usr/src/regress/usr.sbin/rpki-client/libressl/../rsc/apnic-demo.sig
*** Error 1 in . (../Makefile.inc:77 'run-regress-test-rsc')
FAILED
```

it appears to me as if the AFI (OCTET STRING) and BIT STRING with the `10.0.0.0/24` prefix somehow end up in separate sequences?

```
$ openssl asn1parse -in ../rsc/apnic-demo.sig -inform der -i -strparse 58 -dump
    0:d=0  hl=2 l=  80 cons: SEQUENCE
    2:d=1  hl=2 l=  18 cons:  SEQUENCE
    4:d=2  hl=2 l=  16 cons:   cont [ 1 ]
    6:d=3  hl=2 l=  14 cons:    SEQUENCE
    8:d=4  hl=2 l=  12 cons:     SEQUENCE
   10:d=5  hl=2 l=   2 prim:      OCTET STRING
      0000 - 00 01                                             ..
   14:d=5  hl=2 l=   6 cons:      SEQUENCE
   16:d=6  hl=2 l=   4 prim:       BIT STRING
      0000 - 00 01                                             ..
      0004 - <SPACES/NULS>
   22:d=1  hl=2 l=  11 cons:  SEQUENCE
   24:d=2  hl=2 l=   9 prim:   OBJECT            :sha256
   35:d=1  hl=2 l=  45 cons:  SEQUENCE
   37:d=2  hl=2 l=  43 cons:   SEQUENCE
   39:d=3  hl=2 l=   7 prim:    IA5STRING         :content
   48:d=3  hl=2 l=  32 prim:    OCTET STRING
      0000 - d1 bc 8d 3b a4 af c7 e1-09 61 2c b7 3a cb dd da   ...;.....a,.:...
      0010 - c0 52 c9 30 25 aa 1f 82-94 2e da bb 7d eb 82 a1   .R.0%.......}...
```

RFC 3779 2.2.3 says

```
   IPAddressOrRange    ::= CHOICE {
      addressPrefix        IPAddress,
      addressRange         IPAddressRange }

   IPAddressRange      ::= SEQUENCE {
      min                  IPAddress,
      max                  IPAddress }

   IPAddress           ::= BIT STRING
```

so my code ends up expecting two elements in a SEQUENCE is found at that position

what do you think?

Thanks, there were some holdover elements from a pre-RTA schema, and this has now been fixed.

Thanks! Awesome progress :-)

```
$ ./test-rsc -v ../rsc/apnic-demo.sig
Subject key identifier: 4E:4B:59:29:06:9E:A5:B9:A7:45:B1:D2:AB:C7:92:24:64:26:A7:CB
Authority key identifier: 45:45:7D:3D:CD:23:95:87:B5:1D:EF:0B:CF:B6:6D:BA:F6:80:8F:D6
Authority info access: rsync://localhost/repo/cas/ca/ca/ca.der.cer
Signed With Resources:
    1: IP: 1.0.0.0/24
Filenames and Hashes:
    1: content
        hash 0byNO6Svx+EJYSy3Osvd2sBSyTAlqh+ClC7au33rgqE=
OK
```

```
$ ./test-rsc -p -v ../rsc/apnic-demo.sig | openssl x509 -text
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number: 2 (0x2)
    Signature Algorithm: sha256WithRSAEncryption
        Issuer: CN=ca
        Validity
            Not Before: Jun 12 11:49:49 2021 GMT
            Not After : Jun 12 11:49:49 2022 GMT
        Subject: CN=EE
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
                RSA Public-Key: (2048 bit)
                Modulus:
                    00:ca:24:ce:ff:60:95:cc:42:65:e0:cf:b7:d4:71:
                    b2:98:c8:f1:2d:61:4f:c8:40:2e:6b:1f:9b:df:85:
                    99:c2:c5:f7:37:f5:54:2d:80:97:8e:07:af:40:99:
                    6c:bd:5a:1e:62:16:35:e2:0c:74:e9:ae:89:6f:e6:
                    cb:98:b9:3d:18:70:e3:63:41:9f:fe:1d:22:f9:fb:
                    88:a8:f4:c5:9f:4e:76:5f:77:bf:2a:db:2b:08:c6:
                    f2:69:84:fa:e1:72:22:55:1d:78:9f:5e:a1:a6:a7:
                    89:0b:30:a6:c4:11:50:16:b0:75:d4:00:fe:e7:08:
                    5c:b8:cc:a1:10:1e:ac:94:bb:0b:2d:dc:8d:ff:7f:
                    27:28:15:46:18:f9:46:fa:d7:91:c8:27:74:b7:52:
                    17:9a:08:e9:d1:a5:3f:02:e9:1e:bc:7a:07:2b:6c:
                    19:2b:a0:fc:80:77:e5:fa:5c:83:b6:cf:90:f7:ed:
                    f1:cf:fb:0c:32:99:00:bf:c4:35:40:43:85:97:10:
                    70:c2:ab:20:2d:6c:cc:c1:51:cd:7e:62:49:7a:7d:
                    4e:d9:6a:8d:38:96:51:82:88:10:94:89:49:5a:77:
                    3b:96:ee:86:65:8c:30:96:97:d0:be:0a:0a:70:3e:
                    18:73:ce:a9:00:1a:5e:e0:ec:aa:59:7e:49:dd:0a:
                    fc:3d
                Exponent: 65537 (0x10001)
        X509v3 extensions:
            X509v3 Key Usage: critical
                Digital Signature
            X509v3 Subject Key Identifier: 
                4E:4B:59:29:06:9E:A5:B9:A7:45:B1:D2:AB:C7:92:24:64:26:A7:CB
            X509v3 Authority Key Identifier: 
                keyid:45:45:7D:3D:CD:23:95:87:B5:1D:EF:0B:CF:B6:6D:BA:F6:80:8F:D6

            X509v3 Certificate Policies: critical
                Policy: ipAddr-asNumber

            Authority Information Access: 
                CA Issuers - URI:rsync://localhost/repo/cas/ca/ca/ca.der.cer

            X509v3 CRL Distribution Points: 

                Full Name:
                  URI:rsync://localhost/repo/cas/ca/crl.der.crl

            sbgp-ipAddrBlock: critical
                0.0.....0.......
    Signature Algorithm: sha256WithRSAEncryption
         49:12:3f:20:26:70:ae:f7:a8:39:d0:33:21:59:0c:3b:f5:79:
         2f:a3:5d:40:12:89:84:12:38:75:7b:4e:e7:57:d4:05:14:de:
         da:e9:c3:39:a8:cb:4f:55:7a:83:d8:38:f0:ba:43:b0:3b:60:
         61:01:2d:b5:02:fd:f6:ee:b7:dd:df:92:c3:28:a2:a3:ce:00:
         00:3d:09:cd:d7:33:e9:99:39:0d:fe:5d:b6:32:8f:35:38:ae:
         78:e0:cf:25:c5:76:f5:b7:0f:5c:f0:7d:ba:91:73:74:71:cd:
         5f:4c:57:ba:87:82:6c:7e:b4:49:26:4d:eb:50:46:b2:e2:e1:
         72:12:56:81:c5:d4:49:40:90:28:4a:63:b9:0e:8e:77:dd:13:
         79:6e:39:35:2d:14:a8:19:b7:1c:31:45:d8:ce:cb:10:d4:47:
         12:30:7a:18:2b:44:59:4e:ab:c0:da:85:52:01:49:fe:b8:54:
         b2:c6:69:ba:ba:17:a5:36:78:df:52:1e:83:5e:ef:f9:9b:34:
         94:2f:d2:ab:9f:ae:39:42:da:9e:1b:cd:14:fc:da:4e:1b:63:
         13:61:6f:7c:4c:d0:bd:f5:b5:0f:7b:0c:b7:45:58:9c:dc:93:
         e0:22:cf:93:2f:d2:15:42:1a:91:5c:cc:88:6a:89:53:3c:a4:
         fc:bf:2b:17
-----BEGIN CERTIFICATE-----
MIIDqzCCApOgAwIBAgIBAjANBgkqhkiG9w0BAQsFADANMQswCQYDVQQDDAJjYTAe
Fw0yMTA2MTIxMTQ5NDlaFw0yMjA2MTIxMTQ5NDlaMA0xCzAJBgNVBAMMAkVFMIIB
IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyiTO/2CVzEJl4M+31HGymMjx
LWFPyEAuax+b34WZwsX3N/VULYCXjgevQJlsvVoeYhY14gx06a6Jb+bLmLk9GHDj
Y0Gf/h0i+fuIqPTFn052X3e/KtsrCMbyaYT64XIiVR14n16hpqeJCzCmxBFQFrB1
1AD+5whcuMyhEB6slLsLLdyN/38nKBVGGPlG+teRyCd0t1IXmgjp0aU/AukevHoH
K2wZK6D8gHfl+lyDts+Q9+3xz/sMMpkAv8Q1QEOFlxBwwqsgLWzMwVHNfmJJen1O
2WqNOJZRgogQlIlJWnc7lu6GZYwwlpfQvgoKcD4Yc86pABpe4OyqWX5J3Qr8PQID
AQABo4IBFDCCARAwDgYDVR0PAQH/BAQDAgeAMB0GA1UdDgQWBBROS1kpBp6luadF
sdKrx5IkZCanyzAfBgNVHSMEGDAWgBRFRX09zSOVh7Ud7wvPtm269oCP1jAYBgNV
HSABAf8EDjAMMAoGCCsGAQUFBw4CMEcGCCsGAQUFBwEBBDswOTA3BggrBgEFBQcw
AoYrcnN5bmM6Ly9sb2NhbGhvc3QvcmVwby9jYXMvY2EvY2EvY2EuZGVyLmNlcjA6
BgNVHR8EMzAxMC+gLaArhilyc3luYzovL2xvY2FsaG9zdC9yZXBvL2Nhcy9jYS9j
cmwuZGVyLmNybDAfBggrBgEFBQcBBwEB/wQQMA4wDAQCAAEwBgMEAAEAADANBgkq
hkiG9w0BAQsFAAOCAQEASRI/ICZwrveoOdAzIVkMO/V5L6NdQBKJhBI4dXtO51fU
BRTe2unDOajLT1V6g9g48LpDsDtgYQEttQL99u633d+Swyiio84AAD0Jzdcz6Zk5
Df5dtjKPNTiueODPJcV29bcPXPB9upFzdHHNX0xXuoeCbH60SSZN61BGsuLhchJW
gcXUSUCQKEpjuQ6Od90TeW45NS0UqBm3HDFF2M7LENRHEjB6GCtEWU6rwNqFUgFJ
/rhUssZpuroXpTZ431Ieg17v+Zs0lC/Sq5+uOULanhvNFPzaThtjE2FvfEzQvfW1
D3sMt0VYnNyT4CLPky/SFUIakVzMiGqJUzyk/L8rFw==
-----END CERTIFICATE-----
```